.menu{
    text-align: center;
    }
    .menu ul{
    margin: 0 ;
    padding: 0 ;
    }
    .menu ul li{
    list-style: none;
    display: inline-block;
    width: 18%;
    min-width: 90px;
    }
    .menu ul li a{
    text-decoration: none;
    color: #333;
    }
    .menu ul li.current a{
    color: #F33135;
    }
    .menu ul li a:hover{
    color: #E7DA66;
    }